target/classes/testing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e5b5419f-e2d5-4a40-978e-caaebd1e99b2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testingFlow" doc:id="fa5f188b-7015-484f-80cb-9c93b4321dc9" >
		<http:listener doc:name="Listener" doc:id="1fd80561-a23e-4ddf-9ed7-e6b89c6b0ae3" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="949c3ec5-c71f-448c-aa86-a7472fb79e7a" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="0fffd8ef-7839-4fc1-b0d2-9a1765b540b5" />
		<logger level="INFO" doc:name="Logger" doc:id="8b5b05af-a0b9-4154-a934-e198e0311f03" message="end of process"/>
	</flow>
</mule>
